# Hiweis: Alle Verzeichnisse in dieser Datei müssen mit / enden!

sourcefolder=test/a/
logfolder=test/log
rsyncopts='-avR --delete'

# Differenzielles tägliches Backup 
_today=$(date +%Y-%m-%d)
destfolder_diff=test/backup_diff/${_today}/

# Ein Rollierendes vollständiges Backup mit Wochentag Namen
# Ziel wird einmal die Woche überschrieben und landet im WEEKDAY Unterorder.
_weekday=`LC_ALL=de_DE date '+%A'`
destfolder_rolling=test/backup_rolling/${_weekday}/

